@model TestSite.Models.Account.ChangePasswordViewModel
@{
    ViewBag.Title = "Change password";
    Layout = "~/Views/Shared/Layouts/_LayoutIdentity.cshtml";
}

<div class="epi-contentArea">
    <h3 class="EP-prefix"> @ViewBag.Title</h3>
    <p class="EP-systemInfo"> @ViewBag.StatusMessage </p>
</div>

@using (Html.BeginForm("ChangePassword", "Identity", new { id = ViewBag.Id, page = ViewBag.Page, searchString = ViewBag.SearchString }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <p class="EP-systemInfo">
        <div class="EP-systemMessage EP-systemMessage-None">@Html.ValidationSummary()</div>
    </p>
    <p>Set new password for @ViewBag.UserName</p>
    <div class="epi-size30">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "episize200" })
        </div>
    </div>
    <div class="epi-size30">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "episize200" })
        </div>
    </div>
    <br />
    <div class="epi-buttonContainer">
        <span class="epi-cmsButton">
            <input type="submit" class="epi-cmsButton-text epi-cmsButton-tools epi-cmsButton-Save" value="Save" />
        </span>
        <span class="epi-cmsButton">
            @Html.ActionLink("Cancel", "Index", new { page = ViewBag.Page, searchString = ViewBag.SearchString }, new { @class = "epi-cmsButton-text epi-cmsButton-tools epi-cmsButton-Cancel" })
        </span>
    </div>
}